<%= form_with(model: @list, local: true) do |form| %>
  <% if @list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@list.errors.count, "erro") %> impediram a lista de ser salva:</h2>
      <ul>
        <% @list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nome da Lista" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
