<% content_for :title, "Lists" %>

<h1>Tasks</h1>

<%= form_with(model: @new_list, local: true) do |form| %>
  <% if @new_list.errors.any? %>
    <ul>
      <% @new_list.errors.full_messages.each do |message| %>
        <li><span class="error-notice"><%= message %></span></li>
      <% end %>
    </ul>
  <% end %>
  <div style="display: flex; align-items: justify-content: center; gap: 10px; margin-left: 50px; margin-top: 30px">
    <%= form.text_field :name, class: "add-task-button", placeholder: "Add new task" %>
    <%= form.submit "Save", class: "save-button" %>
  </div>
<% end %>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
</div>
