<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>Tasks</h1>

<!-- Formulário para criar nova lista -->
<%= form_with(model: List.new, local: true) do |form| %>
  <div style="display: flex; align-items: justify-content: center; gap: 10px; margin-left: 50px; margin-top: 30px">
    <%= form.text_field :name, class: "add-task-button", placeholder: "Add new task" %>
    <%= form.submit "Save", class: "save-button" %>
  </div>
<% end %>

<div id="lists">
  <% @lists.each do |list| %>
    <div>
      <%= render list %>
      <p>
        <%= link_to "Show this task", list, class: 'show-list' %>
        <%= link_to "Edit", edit_list_path(list), class: "edit-list-button" %>
        <%= button_to 'Delete', list, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete-list" %>
      </p>
    </div>
  <% end %>
</div>
