<p style="color: green"><%= notice %></p>

<h1><%= @list.name %></h1>

<h2>Itens:</h2>
<ul>
  <% @list.items.each do |item| %>
    <li id="<%= dom_id item %>">  
      <span class="item-name"><%= item.name %></span> <!-- Nome do item -->
      <div class="buttons">
        <%= link_to 'Edit', edit_list_item_path(@list, item), class: 'edit-button' %>
        <%= link_to 'Delete', list_item_path(@list, item), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-button' %>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'Adicionar Novo Item', new_list_item_path(@list), class: "btn btn-primary" %>

<hr>

<div>
  <%= link_to "Voltar para Listas", lists_path, class: "btn btn-primary" %>
</div>
