<% content_for :title, "Editing Item" %>

<h1>Editing Item for <%= @list.name %></h1>

<%= form_for [@list, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @item.name %> <!-- Editando apenas o nome -->

  <%= f.submit "Update Item" %>
<% end %>

<%= link_to "Back to List", @list %> <!-- Link de volta para a lista -->

